html,
body {
  min-width: 100%;
  min-height: 100%;
  font-family: "Muli", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

button {
  border: none;
}

.row {
  margin: 0;
}

.landing-section {
  background: url(/img/landing-bg.svg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: calc(100vw - 34.02vw);
}

nav {
  padding-left: 6vw;
  padding-right: 6vw;
}
nav a {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.2px;
  margin-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}
nav div.ml-auto {
  padding-top: 58px;
}
nav button {
  border-radius: 5px;
  background-color: #ffffff;
  color: #c1a032;
  padding: 16px 32px;
  letter-spacing: 0.8px;
  font-weight: 800;
  font-size: 16px;
  width: auto;
  margin-top: 48px;
  margin-left: 24px;
}
nav .logo {
  margin-top: 56px;
  margin-left: 0px;
  vertical-align: text-top;
}

nav.mobile-nav {
  display: flex;
  justify-content: flex-end;
}
nav.mobile-nav #menuToggle {
  display: flex;
  flex-direction: column;
  margin-top: 7vw;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
nav.mobile-nav #menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
nav.mobile-nav #menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #c1a032;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
nav.mobile-nav #menuToggle span:first-child {
  transform-origin: 0% 0%;
}
nav.mobile-nav #menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
nav.mobile-nav #menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #ffffff;
}
nav.mobile-nav #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
nav.mobile-nav #menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
nav.mobile-nav #menuToggle input:checked ~ ul {
  transform: none;
}
nav.mobile-nav #menu {
  list-style: none;
  position: fixed;
  color: #ffffff;
  width: 60vw;
  height: 150vh;
  box-shadow: 0 0 10px #85888c;
  margin: -70px 0 0 -134px;
  padding-top: 125px;
  padding-left: 6vw;
  background-color: #c1a032;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
nav.mobile-nav #menu a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 0;
  font-size: 16px;
}
nav.mobile-nav #menu li {
  padding: 10px 0;
  transition-delay: 2s;
  max-width: 150px;
}

.hero-section {
  padding: 2vh 8vw 15vh 8vw;
  align-items: stretch;
  height: 100%;
}
.hero-section .hero-article,
.hero-section .hero-image {
  display: flex;
}
.hero-section h1 {
  font-size: 72px;
  font-weight: 800;
  margin-bottom: 14px;
}
.hero-section p {
  font-size: 32px;
  font-weight: 200;
  line-height: 1.38;
}

section.what-we-do {
  margin-top: 9vh;
}
section.what-we-do > div.header {
  padding: 0 19vw 0 19vw;
}
section.what-we-do > div.header h5 {
  color: #c1a032;
  font-size: 22px;
  font-weight: 800;
}
section.what-we-do > div.header h4 {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.4;
  color: #000000;
  margin-bottom: 10vh;
}
section.what-we-do .img-peach,
section.what-we-do .img-grey {
  padding: 8vw;
  text-align: right;
}
section.what-we-do .img-peach {
  background-color: #f2e9db;
}
section.what-we-do .img-grey {
  background-color: #e4e4e4;
  text-align: left;
}
section.what-we-do .img-grey ~ .details {
  text-align: left;
}
section.what-we-do .details {
  padding: 0 14vw 0 5vw;
}
section.what-we-do .details h5 {
  font-size: 32px;
  font-weight: 300;
  color: #000000;
  margin-top: 24px;
}
section.what-we-do .details h5 span {
  font-weight: bold;
}
section.what-we-do .details .detailed-points {
  margin-top: 32px;
}
section.what-we-do .details .detailed-points .point {
  margin-bottom: 17px;
  display: flex;
}
section.what-we-do .details .detailed-points .point div {
  margin-right: 16px;
}
section.what-we-do .details .detailed-points .point img {
  max-height: 100%;
}
section.what-we-do .details .detailed-points .point p {
  font-size: 24px;
  font-weight: 200;
  color: #000000;
  display: inline-block;
  margin-bottom: 0;
}
section.what-we-do .grey-row .details {
  padding: 0 5vw 0 14vw;
}

section.how-it-works {
  margin-top: 9vh;
}
section.how-it-works > h5 {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.4;
  color: #000000;
  text-align: center;
  padding: 0 19vw 0 19vw;
  margin-bottom: 5vh;
}
section.how-it-works > div > .vertical-line {
  width: 2px;
  height: 96px;
  background-color: #c1a033;
  margin-bottom: 5vh;
}
section.how-it-works > h4 {
  margin-top: 14px;
  font-size: 43px;
  font-weight: 200;
  text-align: center;
  color: #000000;
  margin-bottom: calc(9vh - 24px);
}
section.how-it-works .card-row {
  color: #000000;
  padding: 0 14vw 0 14vw;
}
section.how-it-works .card-row > div {
  padding: 0 12px;
  margin-top: 24px;
}
section.how-it-works .card-row > div .card-wrapper {
  height: 100%;
  padding: 32px;
  box-shadow: 0 20px 40px 10px rgba(224, 224, 224, 0.2);
}
section.how-it-works .card-row > div .card-wrapper h3 {
  font-family: "Playfair Display", serif;
  font-size: 120px;
  font-weight: 900;
  opacity: 0.4;
  color: #c1a032;
  margin-bottom: 0;
}
section.how-it-works .card-row > div .card-wrapper h5 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}
section.how-it-works .card-row > div .card-wrapper p {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4;
}

section.discover {
  color: #000000;
  margin-top: 18vh;
}
section.discover > h1 {
  font-size: 43px;
  font-weight: 300;
  text-align: center;
  margin-top: 20px;
  margin-bottom: calc(9vh - 24px);
}
section.discover .card-row {
  padding: 0 14vw 0 14vw;
}
section.discover .card-row > div {
  padding: 0 12px;
  margin-top: 24px;
}
section.discover .card-row > div .card-wrapper {
  width: 100%;
  padding-top: 100%;
  position: relative;
  box-shadow: 0 20px 40px 10px rgba(224, 224, 224, 0.2);
}
section.discover .card-row > div .card-wrapper > * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
section.discover .card-row > div .card-wrapper h5 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 24px;
}

section.announcement {
  color: #000000;
  margin-top: 17vh;
}
section.announcement > h1 {
  padding: 0 15vw 0 15vw;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}
section.announcement > p {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #626262;
  padding: 0 17vw 0 17vw;
  margin: 0;
}
section.announcement .input-group {
  position: relative;
  top: -62px;
  max-width: 550px;
}
section.announcement .input-group input {
  padding: 26px 24px;
  height: auto;
}
section.announcement .input-group ::placeholder {
  font-size: 20px;
  line-height: 1.4;
  color: #626262;
}
section.announcement .input-group :-ms-input-placeholder {
  font-size: 20px;
  line-height: 1.4;
  color: #626262;
}
section.announcement .input-group ::placeholder {
  font-size: 20px;
  line-height: 1.4;
  color: #626262;
}
section.announcement .input-group .input-group-text {
  padding-right: 32px;
  padding-left: 32px;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.9px;
  color: #ffffff;
  background-color: #c1a032;
}

footer {
  margin-top: 17vh;
  padding: 52px 6vw 6vw 6vw;
  background-color: #282828;
}
footer .logo {
  margin-top: 10px;
}
footer .social-icons {
  margin-top: 24px;
}
footer .social-icons > * {
  margin-right: 8px;
}
footer .footer-links a {
  margin-left: 24px;
  margin-top: 12px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.4;
  color: #626262;
}

@media (max-width: 991.98px) {
  .hero-section .hero-image {
    margin-top: 5vh;
  }

  section.what-we-do .order-last {
    order: -1;
  }
  section.what-we-do .header {
    padding: 0 10vw 0 10vw !important;
  }
  section.what-we-do .details,
section.what-we-do .img-peach,
section.what-we-do .img-grey {
    margin-top: 5vh;
  }
  section.what-we-do .img-peach img,
section.what-we-do .img-grey img {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 767.98px) {
  .hero-section h1 {
    font-size: 48px;
    word-break: break-all;
  }
}

/*# sourceMappingURL=style.css.map */
