$p-font: "Muli", sans-serif;
$p-color: #c1a032;

html,
body {
  min-width: 100%;
  min-height: 100%;
  font-family: $p-font;
  color: #ffffff;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.landing-section {
  background: url(/img/landing-bg.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

// styles for the desktop nav bar
nav {
  padding-left: 6vw;
  padding-right: 6vw;
  a {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.2px;
    margin-left: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  div.ml-auto {
    padding-top: 58px;
  }
  button {
    border-radius: 5px;
    background-color: #ffffff;
    color: $p-color;
    padding: 16px 32px;
    letter-spacing: 0.8px;
    font-weight: 800;
    font-size: 16px;
    width: auto;
    margin-top: 48px;
    margin-left: 24px;
  }
  .logo {
    margin-top: 56px;
    margin-left: 0px;
    vertical-align: text-top;
  }
}

// styles for the mobile navbar
nav.mobile-nav {
  display: flex;
  justify-content: flex-end;
  #menuToggle {
    display: flex;
    flex-direction: column;
    margin-top: 7vw;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
    input {
      display: flex;
      width: 40px;
      height: 32px;
      position: absolute;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
    }
    span {
      display: flex;
      width: 29px;
      height: 2px;
      margin-bottom: 5px;
      position: relative;
      background: $p-color;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 5px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }
    span:first-child {
      transform-origin: 0% 0%;
    }
    span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
    input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-3px, -1px);
      background: #ffffff;
    }
    input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }
    input:checked ~ ul {
      transform: none;
    }
  }
  #menu {
    list-style: none;
    position: fixed;
    color: #ffffff;
    width: 60vw;
    height: 150vh;
    box-shadow: 0 0 10px #85888c;
    margin: -70px 0 0 -134px;
    padding-top: 125px;
    padding-left: 6vw;
    background-color: $p-color;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    a {
      color: #ffffff;
      text-decoration: none;
      margin-left: 0;
      font-size: 16px;
    }
    li {
      padding: 10px 0;
      transition-delay: 2s;
      max-width: 35vw;
    }
  }
}
